.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Estilos para los campos de entrada */
  .formulario input {
    font-size: 18px !important; /* Ajusta el tamaño de la fuente según lo necesites */
    margin-bottom: 10px; /* Espacio entre campos de entrada */
    padding: 5px 10px; /* Espacio interno para que el texto no esté demasiado pegado a los bordes */
  }
  
  /* Estilos para el botón */
  .formulario button {
    font-size: 20px; /* Ajusta el tamaño de la fuente según lo necesites */
    padding: 10px 20px; /* Ajusta el tamaño del botón según lo necesites */
  }